* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

h1 {
    margin: 40px;
    font-size: 40px;
    
}

.main {
    position: relative;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: rgb(3, 37, 65);
    text-align: center;
    border-radius: 12px;
}

.input-box, .search-movie {
    margin: 40px auto;
    padding: 20px 30px;
    width: 500px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #496afa8e;
    border-radius: 12px;
    box-shadow: 5px 5px 20px  black;
}

.add-title, .search-title{
    margin-bottom: 20px;
    font-style: oblique;
    
}

.input-box label, .search-movie label {
    margin: 10px auto;
    font-weight: bold;
    font-size: 20px;
}

.input-box input, .search-movie input {
    margin-bottom: 30px;
    padding: 5px 10px;
    width: 70%;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    box-shadow: 5px 5px 15px black;
    outline: none;
    
}

.add-btn, .search-btn, .close-btn, .alert-close {
    margin-bottom: 15px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #EEF1FF;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 15px black;
    transition: color .3s, background-color .3s;
    cursor: pointer;
}

.add-btn:hover, .search-btn:hover, .close-btn:hover{
    background-color: #B1B2FF;
    color: #fff;
}

.search-movie {
    width: 650px;
    height: 300px;
}

.search-box {
    display: flex;
}

.search-btn {
    margin: 10px 0px 30px 15px;
    
}

.search-movie .input-search {
    margin-top: 10px;
    width: 450px;
}

.result-search {
    display: none;
    margin-top: 20px;
    padding: 13px 18px;
    font-size: 19px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    background-color: rgb(20, 182, 223);
}


.pop-up, .alert-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    background-color: #AAC4FF;
}

.close-btn, .alert-close {
    margin-top: 20px;
}

.show {
    display: flex;
}







